body{
    background-color: aquamarine;
}

.plush{
    background-color: bisque;
    text-align: center;
    width:50%
}


img.plush{
    width: 40%;
    position: relative;
}
p.plush{
    color:blueviolet;
    text-align: justify;

}
